{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align"></h3>

<table class="striped centered">
  
  <tbody>
    <tr>
      <td><h2>Welcome : {{user.username}}</h2></td>

    </tr>
    <tr>
      <td>Your Assigned Role is :<b> {{user.role}}</b></td>
    </tr>
    <tr>
      <td>Email Is : {{user.email}}</td>
    </tr>
    <tr>
      <td>Your Current Address : {{user.address}}</td>
    </tr>
    <tr>
      <td>Your Current Postal Address : {{user.postal}}</td>
    </tr>

  </tbody>
</table>

<div class="row">
  <div class="col s12">
    <p class="center-align">
     <h4 align="center"> Want To Update ?
      <a href="{{ url_for('update_user', user_id=user._id) }}" class="light-blue-text text-darken-4">Click Here</a></h4>
    </p>
  </div>
</div>

{% endblock %}
</body>

</html>