{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register</h3>
<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
    <div class="card-panel grey lighten-3">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix fas fa-user-cog"></i>
          <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15" required
         > 
          <label for="username">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix fas fa-user-lock"></i>
          <input id="password" name="password"  pattern="^[a-zA-Z0-9]{5,15}$" type="password" class="validate" minlength="5" maxlength="15" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix fas fa-user-lock"></i>
          <input id="email" name="email"   type="email" class="validate"  required>
          <label for="Email Address">Email Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix fas fa-user-lock"></i>
          <input id="address" name="address" class="validate" required >
          <label for="Address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix fas fa-user-lock"></i>
          <input id="postal" name="postal" class="validate"  required>
          <label for="Postal Code">Postal Code</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <div class="switch">
                <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                <label for="is_urgent">
                    <input type="checkbox" id="is_urgent" name="is_urgent">
                    <span class="lever"></span>
                    Is Admin
                </label>
            </div>
        </div>
    </div>
   
      <div class="row">
        <button type="submit" class="col s12  btn-large text-shadow fas fa-sign-in-alt">
          Register
        </button>
      </div>
    </div>
  </form>
</div>


<div class="row">
  <div class="col s12">
      <p class="center-align">
          Registered ?
          <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
      </p>
  </div>
</div>
{% endblock %}
</body>

</html>